// css spec: 96px = 1 inch

$oneInch: 96px;
$card-width: 2.5 * $oneInch;
$card-height: 3.5 * $oneInch;

$page-width: 8.5 * $oneInch;
$page-height: 11 * $oneInch;


$card-padding-x: 5pt;
$armor-border-radius: 50% 50% 50% 50% / 20% 20% 80% 80%;

$card-area-width: $card-width * 3;
$card-area-height: $card-height * 3;

$page-padding-x: ($page-width - $card-area-width) * 0.5;
$page-padding-y: ($page-height - $card-area-height) * 0.5;

.page-card-grid {
  box-sizing: content-box;
}

@include color-mode(dark) {
  body .output-container {
    --bs-body-color: #000;
  }
}

.output-container {

  --section-heading-bg: #ddd;
  --sub-heading-bg: #eee;
  --card-outline-color: #ccc;
  --card-bg: #fff;
  --bs-body-color: #000;

  color: #000;
  font-size: 10pt;

  ul {
    padding-left: 1rem;
  }

  .shrink-text-90 {
    font-size: 9pt;
  }

  .game-card {
    width: $card-width;
    height: $card-height;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    line-height: 1.4;
    font-family: $font-outfit;
    outline: 1px solid var(--card-outline-color);
    background: var(--card-bg);

    .card-content-container {
      padding: 4pt;
      background: var(--card-bg);
    }
  }


  .page-card-grid {
    display: grid;
    grid-template-columns: repeat(3, $card-width);
    grid-template-rows: repeat(3, $card-height);
    justify-content: center;
    align-content: normal;
    gap: 1px;
    width: $card-width * 3;
    height: $card-height * 3;
    padding: $page-padding-y $page-padding-x;
  }

  .page-card-grid-flex {
    display: inline-flex;
    flex-flow: row wrap;
    padding: $page-padding-y $page-padding-x;

    .game-card {
      outline: 0;
      border: 1px solid var(--card-outline-color);
      margin: -1px 0 0 -1px;

      &.card-support-asset-size-2 {
        width: $card-area-width - 1px;
      }

      &.card-support-asset-size-1 {
        width: $card-area-width * 0.5;
      }
    }
  }


  .card-name {
    margin: 0 $card-padding-x 2pt;
    font-size: 80%;
  }

  .game-card-subtitle {
    font-weight: $font-weight-light;
    color: rgb(84, 84, 84);
  }

  .unit-info {

    .hev-size {
      font-size: 80%;
      background: var(--section-heading-bg);
      padding: 2pt $card-padding-x 2pt;
      font-family: $font-anta;
    }

    .hev-team {
      font-size: 70%;
      line-height: 10pt;
      padding: 2pt $card-padding-x;
      background: var(--sub-heading-bg);
    }
  }

  .table-card-stats {
    width: 100%;

    th,
    td {
      text-align: center;
      vertical-align: middle;
      font-size: 80%;
    }

    thead th {
      padding: 2pt 0;
      background: var(--section-heading-bg);
      font-weight: normal;
      font-family: $font-anta;
    }

    tbody td {
      padding: 2pt 0;
    }
  }

  .row-damage {
    font-family: $font-anta;
    text-align: left;
    display: flex;
    align-items: start;
    height: 62px;

    .hp-heading {
      font-size: 80%;
      padding: 0 $card-padding-x;

      small {
        font-size: 70%;
      }
    }

    .structure-systems {
      font-size: 55%;
      padding: 0 $card-padding-x;
    }

    .hp-container {
      font-family: $font-outfit;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 10pt;
      text-align: left;
      padding: 0 ($card-padding-x - 1pt) 0;

      .hp-row {
        display: flex;
        align-items: start;
        justify-content: start;
      }
    }

    .hp-structure {
      .hp-heading,
      .hp-container {
        padding-right: 0;
      }

    }

    .hp {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-shrink: 1;
      width: 10pt;
      height: 10pt;
      border: 1.2pt solid #000;
      margin: 0 1px 1px 0;
      // shouldn't change size with shrink
      font-size: 6pt;
      line-height: 10pt;
      text-align: center;

      &.hp-structure {
        border-radius: 1000px;
      }

      &.hp-armor {
        border-radius: $armor-border-radius;
        color: #808080;
        font-size: 60%;
      }

      > span {
        position: relative;
        display: inline-block;
      }
    }
  }

  .table-crit td {
    border-spacing: 0;
    padding: 0;
    margin: 0;
  }

  .crit-heading {
    font-size: 80%;
    font-weight: normal;
    font-family: $font-anta;
    padding-left: 3pt;
    line-height: 1.2;
  }

  .crit-content {
    font-size: 70%;
    font-family: $font-outfit;
    font-weight: 400;
    padding-left: 3pt;

    strong {
      font-weight: 600;
    }
  }

  .table-stats {
    width: 100%;
    margin: 2pt 0;

    &.table-stats-small {
      .use {
        width: 9pt;
        height: 9pt;
      }
    }

    thead th {
      font-family: $font-anta;
      font-weight: normal;
      font-size: 80%;
      background: var(--section-heading-bg);
      padding: 1pt 2pt;

      text-align: center;

      &:first-child {
        text-align: left;
        padding-left: $card-padding-x;
      }
    }

    tbody {
      > tr:first-child > td {
        padding-top: 2pt;
      }

      td {
        font-size: 70%;
        text-align: center;
        border-bottom: .1pt solid #444;
        padding: 1pt 2pt;

        vertical-align: top;

        &.small {
          font-size: 60%;
        }

        &:first-child {
          text-align: left;
          padding-left: $card-padding-x;
        }
      }
    }


    tbody tr:last-child td {
      border: 0;
    }
  }

  .use {
    display: inline-block;
    width: 10pt;
    height: 10pt;
    border: 1.2pt solid #444;
    margin: 0 1px 1px 0;
    // shouldn't change size
    font-size: 6pt;
    line-height: 10pt;
    text-align: center;

    &.use-structure {
      border-radius: 1000px;
    }

    &.use-armor {
      border-radius: $armor-border-radius;
    }

    &.use-weapon,
    &.use-upgrade {
      border-radius: 0;
    }
  }

  .upgrade-use {
    display: inline-block;
    width: 10pt;
    height: 10pt;
    border: 1.2pt solid #000;
    border-radius: 1000px;
    margin: 0 1px 1px 0;
    // shouldn't change size
    font-size: 6pt;
    line-height: 10pt;
    text-align: center;
  }

  .section-heading {
    background: var(--section-heading-bg);
    font-size: 80%;
    font-weight: normal;
    font-family: $font-anta;
    padding: 1pt $card-padding-x;
    margin: 2pt 0;
  }

  .upgrades {
    font-size: 70%;
    padding: 0 $card-padding-x;
  }

  .card-description {
    font-size: 70%;
    padding: 0 $card-padding-x;
    margin-bottom: 0.5rem;

  }
}