@import url('https://fonts.googleapis.com/css2?family=Anta&family=Outfit:wght@100..900&display=swap');

$font-outfit: "Outfit", sans-serif;
$font-anta: "Anta", sans-serif;

.text-muted-custom {
  opacity: 0.66;
}

.font-outfit {
  font-family: $font-outfit;
}

.font-anta {
  font-family: $font-anta;
}